node_modules
logs
Dockerfile
docker-compose.yml
.env
.dockerignore
dist
.vscode
.idea
*.sublime-workspace
*.sublime-project
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__tests__
test
tests
*.tsbuildinfo
